html {
    --main-color: hsl(39, 74%, 60%);
    --box: hsl(260, 13%, 18%);
    --background: hsl(0, 0%, 100%);
    --text-color: hsl(0, 0%, 0%);
    --red: hsl(9, 93%, 45%);
    --fore-element: hsl(0, 0%, 95%);
    --switch: hsl(0, 0%, 75%);
    --button-text: hsl(0, 0%, 100%);
    --fore-color: hsl(260, 13%, 18%);

    --victory-fore: hsl(98, 85%, 46%);
    --defeat-fore: var(--red);
}

html[pallete='orange']{
    --main-color: hsl(39, 74%, 60%);
    --dark-main:hsl(39, 74%, 60%);
    --button-disabled: hsl(39, 68%, 85%);
    --red: hsl(9, 87%, 39%);
}

html[pallete='purple']{
    --main-color: hsl(278.4, 83.1%, 65.3%);
    --dark-main: hsl(258.8, 62.6%, 58%);
    --button-disabled: hsl(296.1, 100%, 93.9%);
    --red: hsl(337, 100%, 44.5%);
}
html[pallete='green']{
    --main-color: hsl(114.8, 71.1%, 62%);
    --dark-main: hsl(146.3, 81.5%, 42.4%);
    --button-disabled: hsl(114.5, 100%, 95.7%);
    --red: hsl(298.1, 100%, 43.7%);
}
html[pallete='pink']{
    --main-color: rgb(233, 87, 131);
    --dark-main: hsl(329, 60.3%, 53.5%);
    --button-disabled: hsl(340.9, 100%, 95.7%);
    --red: hsl(46, 98%, 48%);
}
html[pallete='blue']{
    --main-color: hsl(213.8, 78%, 62.5%);
    --dark-main: hsl(216.5, 43.7%, 49.4%);
    --button-disabled: hsl(39, 68%, 85%);
    --red: hsl(49, 86%, 49%);
}

html[data-theme='dark']{
    --main-color: var(--dark-main);
    --box: hsl(260, 13%, 18%);
    --background: hsl(252, 9%, 10%);
    --text-color: hsl(0, 0%, 81%);
    --button-disabled: hsl(0, 0%, 6%);
    --fore-element: hsl(0, 0%, 20%);
    --switch: var(--main-color);
    --button-text: hsl(0, 0%, 0%);
    --fore-color: var(--button-text);

    --victory-fore: hsl(120, 100%, 38%);
    --defeat-fore: var(--red);
}

*{
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);/*cubic-bezier(0.86, 0, 0.07, 1);*/
    transition-duration:  200ms;
}

body{
    background-color: var(--background);
}

.wrapper {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.box {
    background-color: var(--box);
    padding: 0.5rem;
    border-radius: 0.5rem;

    padding: 0.5rem;
}

.playing-field {
    display: flex;
    
    background-color: var(--box);
    color: var(--text-color);
    border-radius: 1rem;
    flex-wrap: wrap;

    margin-bottom: 0.5rem;


    width: 32rem;

    z-index: -100;
}

.button {
    display: inline-block;
    
    border: none;
    border-radius: 0.25rem;
    margin: 0.1rem;

    cursor: pointer;
}

.button:hover {
    filter: brightness(150%) saturate(80%);
}

.button:active {
    filter: brightness(50%) saturate(80%);
}

.button:disabled {
    background-color: var(--button-disabled);
}

.field-button{
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 3rem;
    height: 3rem;
    background-color: var(--main-color);


    overflow: hidden;
}

.field-button:disabled {
    color: var(--text-color);
    font-size: 2rem;
}

.play-again {
    background-color: var(--main-color);
    color: var(--fore-color);

    padding: 1rem;
    font-size: 1.5rem;

    position:relative;
}

.hidden {
    display: none;
}

.mine {
    background-color: var(--red);
}

.dark-switch {
    display: block;
    height: 3rem;
    width: 5rem;
    position: fixed;
    top: 1rem;
    left: 1rem;

    cursor: pointer;
}

.switch-backdrop {
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 3rem;
    width: 5rem;
    border-radius: 4rem;
    margin: auto;
    background-color: var(--switch);
}

.switch-head {
    display: block;
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 4rem;
    left: 0.25rem;
    margin: auto;
    background-color: var(--fore-element);
}

.switch-head.switchOn {
    left: 2.25rem;
}

.switch-head:hover {
    filter: brightness(150%) saturate(80%);
}

.alert {
    display: block;
    position: fixed;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);

    font-size: 1rem;
    color: transparent;

    z-index: 100;
}

.victory {
    color: var(--victory-fore);

    font-size: 4rem;
}

.game-over {
    color: var(--defeat-fore);

    font-size: 4rem;
}

.github {
    color: var(--switch);

    padding: 0;
    font-size: 4rem;

    position: fixed;
    top: 1rem;
    right: 1rem;
}
.github:hover {
    color: var(--main-color);
    filter: brightness(150%) saturate(80%);
}

.pallete {
    color: var(--main-color);

    padding: 0;
    font-size: 4rem;
    background: none;
    border: none;

    position: fixed;
    bottom: 1rem;
    right: 1rem;

    cursor: pointer;
}

.pallete:hover {
    filter: brightness(150%) saturate(80%);
}

.pallete:active {
    font-size: 3.5rem;
    padding: 0.25rem;
}